.Content {
  position: fixed;
  top: 80px;
  left: 260px;
  right: 315px;
  bottom:0px;

  background-color: rgb(252,252,252);


}

.Table {
  height: 100%;
  overflow-y: scroll;
  margin-right:-17px; 

  user-select: none;

}

.Table-wrap {
  margin: 50px auto;
  width: 560px;
}



