<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="./test.css">
</head>

<body>
</body>
<table>
    <tr>
      <th>Date</th>
      <th>Counterparty Name</th>
      <th>Payment Type</th>
      <th>Amount</th>
      <th><span>📎</span></th>
    </tr>
    <tr>
        <td>AAAAAAAAAA</td>
        <td>BBBBBBBBBBBBBBBBBBBBBBBBBBBB</td>
        <td>CCCCCCCCCCCCCCCCCC</td>
        <td>DDDDDDDDDDDDDDDDDD</td>
        <td>EEEEEE</td>
    </tr>
    <tr>
        <td>AAAAAAAAAA</td>
        <td>BBBBBBBBBBBBBBBBBBBBBBBBBBBB</td>
        <td>CCCCCCCCCCCCCCCCCC</td>
        <td>DDDDDDDDDDDDDDDDDD</td>
        <td>EEEEEE</td>
    </tr>
    <tr>
        <td>AAAAAAAAAA</td>
        <td>BBBBBBBBBBBBBBBBBBBBBBBBBBBB</td>
        <td>CCCCCCCCCCCCCCCCCC</td>
        <td>DDDDDDDDDDDDDDDDDD</td>
        <td>EEEEEE</td>
    </tr>
    <tr>
        <td>AAAAAAAAAA</td>
        <td>BBBBBBBBBBBBBBBBBBBBBBBBBBBB</td>
        <td>CCCCCCCCCCCCCCCCCC</td>
        <td>DDDDDDDDDDDDDDDDDD</td>
        <td>EEEEEE</td>
    </tr>
    <tr>
        <td>AAAAAAAAAA</td>
        <td>BBBBBBBBBBBBBBBBBBBBBBBBBBBB</td>
        <td>CCCCCCCCCCCCCCCCCC</td>
        <td>DDDDDDDDDDDDDDDDDD</td>
        <td>EEEEEE</td>
    </tr>
    <tr>
        <td>AAAAAAAAAA</td>
        <td>BBBBBBBBBBBBBBBBBBBBBBBBBBBB</td>
        <td>CCCCCCCCCCCCCCCCCC</td>
        <td>DDDDDDDDDDDDDDDDDD</td>
        <td>EEEEEE</td>
    </tr>
    <tr>
        <td>AAAAAAAAAA</td>
        <td>BBBBBBBBBBBBBBBBBBBBBBBBBBBB</td>
        <td>CCCCCCCCCCCCCCCCCC</td>
        <td>DDDDDDDDDDDDDDDDDD</td>
        <td>EEEEEE</td>
    </tr>
</table>

</html>